<app-menu-bar></app-menu-bar>
 <div class="element-container">
  <label class="element-text-grey"><b>Campaign name</b></label>
  <input class="element-input element-border" type="text"> 
   <!-- <mat-form-field>
    <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled>
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field> -->
   <label class="element-text-grey"><b>Amount</b></label>
  <input class="element-input element-border" type="text">
   <!-- <input class="element-radio" type="radio" name="paymentType" value="total" checked>
  <label>Total</label>
  
  <input class="element-radio" type="radio" name="paymentType" value="perView">
  <label>Per View</label> -->
   <label class="element-text-grey"><b>Upload Contract</b></label>
   <button class="element-btn element-app-blue">Create</button>
  <button class="element-btn element-gray">Cancel</button>
</div> 