<app-menu-bar></app-menu-bar>
<!--<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <h1>Channels</h1>
</section>-->
<!--Run the Spinner until the Slide list is loaded-->
<!-- <app-spinner [diameter]="100" [strokeWidth]="3" [topStyle]="slideListTopStyle" [rightStyle]="slideListRightStyle"></app-spinner> -->
<!--<section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="slides-table mat-elevation-z8">
     <mat-table #table [dataSource]="dataSource" class="slide-list-center">

        Thumbnail Column 
        <ng-container matColumnDef="thumbnail">
           <mat-header-cell  *matHeaderCellDef> Thumbnail </mat-header-cell>
           <mat-cell  *matCellDef="let channel">

             <img class=slide-list-image *ngIf="channel.thumbnailURL!=null" [src]="channel.thumbnailURL">
             <span *ngIf="!channel.thumbnailURL"> Image not found </span>
           </mat-cell>
        </ng-container>

         Name Column 
        <ng-container matColumnDef="name">
           <mat-header-cell  *matHeaderCellDef> Name </mat-header-cell>
           <mat-cell *matCellDef="let channel"> {{ channel.name }} </mat-cell>
        </ng-container>

         Acquired Date Column 
        <ng-container matColumnDef="creationdate">
           <mat-header-cell  *matHeaderCellDef> Acquisition Date </mat-header-cell>
           <mat-cell *matCellDef="let channel"> {{ channel.creationDate }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"
           (click)="onSlideClick(row)" class="row-pointer"></mat-row>

     </mat-table>
  </div>
</section>-->

<!-- channelList is a public variable from the component that contains the channel list retrieved
by the component and that is contained in the store -->
<div class="col-md-6 col-md-offset-3" style="margin-bottom:20px;">
  <form class="form-inline">
      <input type="text" [(ngModel)]="searchString" (keyup)="searchKeyUp($event)" name="search"
        class="form-control" style="width:90%;" placeholder="Keywords input">
    <button (click)="searchKeyWords()" class="btn btn-default active" style="margin-left:-3px;">Search</button>
  </form>
</div>
<div class="container">
      <!-- items being paged -->
      <div class="example-card" *ngFor="let channel of channelList">
        <mat-card >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ channel.name }}</mat-card-title>
            <mat-card-subtitle>{{ channel.name }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <!--<mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>-->
        </mat-card>
      </div>
</div>

<div class="container">
  <div class="text-center">
          <!-- pager -->
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
              </li>
          </ul>
  </div>
</div>